Use “Sakila” database for the following questions

Q1 Display all tables available in the database “sakila”

Q2 Display structure of table “actor”. (4 row)

Q3 Display the schema which was used to create table “actor” and view the
complete schema using the viewer. (1 row)

Q4 Display the first and last names of all actors from the table actor. (200
rows)

Q5 Which actors have the last name ‘Johansson’. (3 rows)

Q6 Display the first and last name of each actor in a single column in upper
case letters. Name the column Actor Name. (200 rows)

Q7 You need to find the ID number, first name, and last name of an actor, of
whom you know only the first name, "Joe." What is one query would you use
to obtain this information? (1 row)

Q8 Which last names are not repeated? (66 rows)

Q9 List the last names of actors, as well as how many actors have that last

Q10 Use JOIN to display the first and last names, as well as the address, of
each staff member. Use the tables “staff” and “address”. (2 rows)


use sakila;

show tables;

describe actor;

show create table actor;

select concat(first_name," ",last_name) from actor;

select * from actor
where  last_name like 'Johansson';

select ucase(concat(first_name," ",last_name)) as actor_name from actor;

select * from actor
where  first_name like 'Joe';

select distinct last_name from actor; # this  will not give unique values

select last_name from actor 
group by last_name 
having count(*) = 1;

select * from actor
where last_name in (select last_name from actor 
group by last_name 
having count(*) = 1);

select s.first_name,s.last_name,a.address
from staff s left join address a using(address_id);